* {
	box-sizing: border-box;
}

body {
	background-color: #111;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 856px;
}
.square {
	width: 16px;
	height: 16px;
	background-color: #1d1d1d;
	border-radius: 50%;
	margin: 2px;
	box-shadow: 0 0 2px #000;
	transition: 2s ease;
}
.square:hover {
	transition-duration: 0s;
}
@media (max-width: 479.98px) {
	.square {
		width: 30px;
		height: 30px;
	}
}
